@{
    ViewBag.Title = "个人档案";
    Layout = "~/Views/Shared/ViewFangWeb.cshtml";
}

@section styles{
    @Styles.Render("~/Css/FangWeb/Abount")
}

@section scripts{
    @Scripts.Render("~/Js/FangWeb/Abount")
}

<div class="ViewAbount" ng-controller="AbountController">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <div class="caption">
                    <hr />
                    <h2 ng-bind="UserInfo.UserName"></h2>
                </div>
                <div class="text-justify">
                    <p ng-repeat="c in UserInfo.UserBrief" ng-bind="c.p"></p>
                </div>
            </div>
            <div class="col-xs-4">
                <img class="img-thumbnail" ng-src="{{UserInfo.UserHeader}}" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="caption">
                    <hr />
                    <h3 ng-bind="UserBasic.Header.Text"></h3>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-sm-6" ng-repeat="c in UserBasic.List">
                    <div class="row" ng-repeat="b in c.List">
                        <div class="col-xs-4" ng-bind="b.Key"></div>
                        <div class="col-xs-8" ng-bind="b.Value"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="caption">
                    <hr />
                    <h3 ng-bind="UserHobby.Header.Text"></h3>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 col-sm-3" ng-repeat="c in UserHobby.List">
                    <div class="col-xs-12">
                        <h3 ng-bind="c.Title"></h3>
                        <div class="text-justify" ng-bind="c.Text"></div>
                    </div>
                    <div class="col-xs-12">
                        <img class="img-thumbnail" ng-src="c.Url" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

