.ViewContent {
}

.ViewAbount {
}

    /*#region .ViewAbount .container */

    .ViewAbount .container {
        background-color: #fff;
        margin: 70px auto;
    }


        .ViewAbount .container > .row {
            margin-left: auto;
            margin-right: auto;
        }

            .ViewAbount .container > .row .caption {
                overflow: hidden;
                margin: 30px auto 20px auto;
            }

                .ViewAbount .container > .row .caption *:first-child {
                }

                .ViewAbount .container > .row .caption h3 {
                    margin-top: -35px;
                }

                .ViewAbount .container > .row .caption h5 {
                    font-size: 18px;
                    margin-top: -30px;
                }

                .ViewAbount .container > .row .caption *:last-child > span {
                    display: inline-block;
                    background-color: #fff;
                    border-left: 12px solid #00a2ca;
                    padding-left: 15px;
                    padding-right: 10px;
                }

            /*#endregion */

            /*#region .ViewAbount .container > .row:nth-child(1) */

            .ViewAbount .container > .row:nth-child(1) {
            }

                .ViewAbount .container > .row:nth-child(1) > *:last-child {
                }

                    .ViewAbount .container > .row:nth-child(1) > *:last-child .img-thumbnail {
                        width: 150px;
                        height: 150px;
                        margin-top: 50px;
                    }

            /*#endregion */

            /*#region .ViewAbount .container > .row:nth-child(2) */

            .ViewAbount .container > .row:nth-child(2) {
            }

                .ViewAbount .container > .row:nth-child(2) > *:last-child {
                    padding: 1px 30px;
                }

                    .ViewAbount .container > .row:nth-child(2) > *:last-child > .col-sm-6 {
                    }

                        .ViewAbount .container > .row:nth-child(2) > *:last-child > .col-sm-6 > .row {
                            line-height: 28px;
                            border-bottom: 1px dashed #ccc;
                        }

                            .ViewAbount .container > .row:nth-child(2) > *:last-child > .col-sm-6 > .row > *:first-child {
                                color: #999;
                            }

                            .ViewAbount .container > .row:nth-child(2) > *:last-child > .col-sm-6 > .row > *:last-child {
                            }

            /*#endregion */

            /*#region .ViewAbount .container > .row:nth-child(3) */

            .ViewAbount .container > .row:nth-child(3) {
            }

                .ViewAbount .container > .row:nth-child(3) > *:last-child {
                }

                    .ViewAbount .container > .row:nth-child(3) > *:last-child > * {
                    }

                        .ViewAbount .container > .row:nth-child(3) > *:last-child > * > *:nth-child(n) {
                            border-radius: 3px;
                            border: 1px dashed #ccc;
                            margin: auto 15px 30px 15px;
                        }

                            .ViewAbount .container > .row:nth-child(3) > *:last-child > * > *:nth-child(n) > *:nth-child(1) {
                                font-size: 18px;
                                font-weight: 500;
                                padding: 15px 1px;
                            }

                            .ViewAbount .container > .row:nth-child(3) > *:last-child > * > *:nth-child(n) > *:nth-child(2) {
                                padding: 1px 15px 10px 15px;
                            }

                            .ViewAbount .container > .row:nth-child(3) > *:last-child > * > *:nth-child(n) > *:nth-child(3) {
                                overflow: hidden;
                                max-height: 150px;
                                margin: 10px 30px 30px 30px;
                            }

                                .ViewAbount .container > .row:nth-child(3) > *:last-child > * > *:nth-child(n) > *:nth-child(3) img {
                                    width: 100%;
                                    height: auto;
                                    border: none;
                                    box-shadow: none;
                                }
/*#endregion */

/*#region name */
/*#endregion */
