.ViewCareer {
}


    /*#region .ViewCareer .container .row */

    .ViewCareer .container > .row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

        .ViewCareer .container > .row:first-child {
        }

            .ViewCareer .container > .row:first-child > *:first-child {
                margin-bottom: 30px;
            }

            .ViewCareer .container > .row:first-child > *:last-child > *:nth-child(n) {
                padding-top: 15px;
                padding-bottom: 15px;
            }

                .ViewCareer .container > .row:first-child > *:last-child > *:nth-child(n) > .thumbnail {
                    border-radius: 0px;
                    box-shadow: none;
                    margin-left: -5px;
                    margin-right: -5px;
                    padding: 25px 25px;
                    cursor: default;
                }

                    .ViewCareer .container > .row:first-child > *:last-child > *:nth-child(n) > .thumbnail:hover {
                        border-color: #00a2ca;
                    }
/*#endregion */
