body {
}

/*#region ViewHeader */

.ViewHeader {
    overflow: hidden;
}

    .ViewHeader .navbar {
        border-color: transparent !important;
        background-color: transparent !important;
        background-image: none !important;
    }

        .ViewHeader > .hidden-xs,
        .ViewHeader .navbar > .hidden-xs {
            height: 28px;
            background-color: #008eb7;
        }

        .ViewHeader > .visible,
        .ViewHeader .navbar > .visible {
            height: 60px;
            background-color: #00a2ca;
        }

        .ViewHeader .navbar > .hidden-xs .navbar-brand {
            height: auto;
            color: #fff;
            font-size: 12px;
            padding: 4px 5px;
        }

        .ViewHeader .navbar > .hidden-xs .nav a {
            height: auto;
            color: #fff;
            font-size: 12px;
            padding: 4px 12px;
        }

            .ViewHeader .navbar > .hidden-xs .nav a:hover {
                color: #7ed1e8;
            }

            .ViewHeader .navbar > .hidden-xs .nav a:before {
                display: inline-block;
                position: absolute;
                top: 8px;
                left: 0px;
                content: " ";
                width: 1px;
                height: 12px;
                background-color: #1aabcf;
            }

        .ViewHeader .navbar > .hidden-xs .nav li:first-child a:before {
            content: none;
        }

        .ViewHeader .navbar > .visible .navbar-brand {
            height: auto;
            color: #fff;
            padding: 10px 10px;
        }

            .ViewHeader .navbar > .visible .navbar-brand > span:last-child {
                display: inline-block;
                font-size: 26px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-style: oblique;
                border: 1px solid #fff;
                border-radius: 10%;
                padding: 9px 10px;
            }

        .ViewHeader .navbar > .visible .nav a {
            height: auto;
            color: #fff;
            font-size: 16px;
            padding: 20px 20px;
            margin-right: 1px;
        }

            .ViewHeader .navbar > .visible .nav a.active,
            .ViewHeader .navbar > .visible .nav a:hover {
                background-color: #0196bd;
            }


        .ViewHeader .navbar > .visible .navbar-toggle {
            border-color: #fff;
        }

            .ViewHeader .navbar > .visible .navbar-toggle:hover,
            .ViewHeader .navbar > .visible .navbar-toggle:focus {
                background-color: #008eb7;
            }

        .ViewHeader .navbar > .visible .navbar-collapse {
            border-color: #008eb7;
        }

/*#endregion */


/*#region ViewContent */

.ViewContent {
    overflow: hidden;
    min-height: 500px;
}

/*#endregion */


/*#region ViewFooter */

.ViewFooter {
    overflow: hidden;
    background-color: #f9f9f9;
}

    .ViewFooter .container:first-child {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .ViewFooter .container:last-child {
    }

    .ViewFooter .container:first-child .row h3 {
        color: #000;
        font-size: 14px;
    }

    .ViewFooter .container:first-child .row ul {
        list-style: none;
        padding: 1px;
    }

        .ViewFooter .container:first-child .row ul li a {
            display: inline-block;
            color: #666;
            padding-bottom: 8px;
        }

    .ViewFooter .container:last-child p {
        padding-top: 10px;
        padding-bottom: 25px;
    }

        .ViewFooter .container:last-child p > span,
        .ViewFooter .container:last-child p > a {
            color: #999999;
        }

        .ViewFooter .container:last-child p > span {
            display: inline-block;
            margin-right: 2px;
        }

/*#endregion */


/*#region animation */
/*
 * 原文： http://qing.baidu.com/
 *
 * <span class="l-c"></span>
 * <span class="r-c"></span>
 * <span class="b-c"></span>
*/

.ViewHeader .navbar > .visible .navbar-brand > .l-c {
    overflow: hidden;
    position: absolute;
    height: 64px;
    width: 31px;
    left: 0;
    top: 0;
}

    .ViewHeader .navbar > .visible .navbar-brand > .l-c:before {
        position: absolute;
        content: " ";
        width: 63px;
        height: 63px;
        top: 1px;
        left: 0px;
        background: url(/Image/default/img-arrow-light.png) no-repeat;
        -webkit-transform: rotate(-118deg);
        -moz-transform: rotate(-118deg);
        -o-transform: rotate(-118deg);
        -ms-transform: rotate(-118deg);
        transform: rotate(-118deg);
        -moz-animation: lineLeft 6s linear infinite;
        -o-animation: lineLeft 6s linear infinite;
        -webkit-animation: lineLeft 6s linear infinite;
        animation: lineLeft 6s linear infinite;
    }

.ViewHeader .navbar > .visible .navbar-brand > .r-c {
    overflow: hidden;
    position: absolute;
    height: 64px;
    width: 31px;
    top: 0px;
    right: 0px;
}

    .ViewHeader .navbar > .visible .navbar-brand > .r-c:before {
        position: absolute;
        content: " ";
        width: 62px;
        height: 63px;
        top: 0px;
        right: 0px;
        background: url(/Image/default/img-arrow-light.png) no-repeat;
        -webkit-transform: rotate(62deg);
        -moz-transform: rotate(62deg);
        -o-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
        transform: rotate(62deg);
        -moz-animation: lineRight 6s linear infinite;
        -o-animation: lineRight 6s linear infinite;
        -webkit-animation: lineRight 6s linear infinite;
        animation: lineRight 6s linear infinite;
    }

.ViewHeader .navbar > .visible .navbar-brand > .b-c {
    overflow: hidden;
    position: absolute;
    height: 64px;
    width: 168px;
    left: 31px;
    top: 0px;
}

    .ViewHeader .navbar > .visible .navbar-brand > .b-c:before {
        position: absolute;
        content: " ";
        height: 64px;
        width: 64px;
        top: 0;
        left: -56px;
        background: url(/Image/default/img-arrow-light.png) no-repeat;
        -webkit-animation: lineFollow 6s linear infinite;
        -moz-animation: lineFollow 6s linear infinite;
        -o-animation: lineFollow 6s linear infinite;
        animation: lineFollow 6s linear infinite;
    }


@-moz-keyframes lineLeft {
    0%,65% {
        -moz-transform: rotate(-118deg);
        -ms-transform: rotate(-118deg);
        -o-transform: rotate(-118deg);
        -webkit-transform: rotate(-118deg);
        transform: rotate(-118deg);
    }

    85% {
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    100% {
        -moz-transform: rotate(242deg);
        -ms-transform: rotate(242deg);
        -o-transform: rotate(242deg);
        -webkit-transform: rotate(242deg);
        transform: rotate(242deg);
    }
}

@-webkit-keyframes lineLeft {
    0%,65% {
        -moz-transform: rotate(-118deg);
        -ms-transform: rotate(-118deg);
        -o-transform: rotate(-118deg);
        -webkit-transform: rotate(-118deg);
        transform: rotate(-118deg);
    }

    85% {
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    100% {
        -moz-transform: rotate(242deg);
        -ms-transform: rotate(242deg);
        -o-transform: rotate(242deg);
        -webkit-transform: rotate(242deg);
        transform: rotate(242deg);
    }
}

@keyframes lineLeft {
    0%,65% {
        -moz-transform: rotate(-118deg);
        -ms-transform: rotate(-118deg);
        -o-transform: rotate(-118deg);
        -webkit-transform: rotate(-118deg);
        transform: rotate(-118deg);
    }

    85% {
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }

    100% {
        -moz-transform: rotate(242deg);
        -ms-transform: rotate(242deg);
        -o-transform: rotate(242deg);
        -webkit-transform: rotate(242deg);
        transform: rotate(242deg);
    }
}

@-moz-keyframes lineRight {
    0%,15% {
        -moz-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
        -o-transform: rotate(62deg);
        -webkit-transform: rotate(62deg);
        transform: rotate(62deg);
    }

    20% {
        -moz-transform: rotate(103deg);
        -ms-transform: rotate(103deg);
        -o-transform: rotate(103deg);
        -webkit-transform: rotate(103deg);
        transform: rotate(103deg);
    }

    35% {
        -moz-transform: rotate(245deg);
        -ms-transform: rotate(245deg);
        -o-transform: rotate(245deg);
        -webkit-transform: rotate(245deg);
        transform: rotate(245deg);
    }

    40% {
        -moz-transform: rotate(365deg);
        -ms-transform: rotate(365deg);
        -o-transform: rotate(365deg);
        -webkit-transform: rotate(365deg);
        transform: rotate(365deg);
    }

    100%,85% {
        -moz-transform: rotate(422deg);
        -ms-transform: rotate(422deg);
        -o-transform: rotate(422deg);
        -webkit-transform: rotate(422deg);
        transform: rotate(422deg);
    }
}

@-webkit-keyframes lineRight {
    0%,15% {
        -moz-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
        -o-transform: rotate(62deg);
        -webkit-transform: rotate(62deg);
        transform: rotate(62deg);
    }

    20% {
        -moz-transform: rotate(103deg);
        -ms-transform: rotate(103deg);
        -o-transform: rotate(103deg);
        -webkit-transform: rotate(103deg);
        transform: rotate(103deg);
    }

    35% {
        -moz-transform: rotate(245deg);
        -ms-transform: rotate(245deg);
        -o-transform: rotate(245deg);
        -webkit-transform: rotate(245deg);
        transform: rotate(245deg);
    }

    40% {
        -moz-transform: rotate(365deg);
        -ms-transform: rotate(365deg);
        -o-transform: rotate(365deg);
        -webkit-transform: rotate(365deg);
        transform: rotate(365deg);
    }

    100%,85% {
        -moz-transform: rotate(422deg);
        -ms-transform: rotate(422deg);
        -o-transform: rotate(422deg);
        -webkit-transform: rotate(422deg);
        transform: rotate(422deg);
    }
}

@keyframes lineRight {
    0%,15% {
        -moz-transform: rotate(62deg);
        -ms-transform: rotate(62deg);
        -o-transform: rotate(62deg);
        -webkit-transform: rotate(62deg);
        transform: rotate(62deg);
    }

    20% {
        -moz-transform: rotate(103deg);
        -ms-transform: rotate(103deg);
        -o-transform: rotate(103deg);
        -webkit-transform: rotate(103deg);
        transform: rotate(103deg);
    }

    35% {
        -moz-transform: rotate(245deg);
        -ms-transform: rotate(245deg);
        -o-transform: rotate(245deg);
        -webkit-transform: rotate(245deg);
        transform: rotate(245deg);
    }

    40% {
        -moz-transform: rotate(365deg);
        -ms-transform: rotate(365deg);
        -o-transform: rotate(365deg);
        -webkit-transform: rotate(365deg);
        transform: rotate(365deg);
    }

    100%,85% {
        -moz-transform: rotate(422deg);
        -ms-transform: rotate(422deg);
        -o-transform: rotate(422deg);
        -webkit-transform: rotate(422deg);
        transform: rotate(422deg);
    }
}

@-moz-keyframes lineFollow {
    0% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    15% {
        left: 110px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    20% {
        left: 129px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    23% {
        left: 159px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    25%,35% {
        left: 159px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    65% {
        left: -9px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    70% {
        left: -30px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    72% {
        left: -90px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        left: -90px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    85% {
        left: -57px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@-webkit-keyframes lineFollow {
    0% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    15% {
        left: 110px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    20% {
        left: 129px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    23% {
        left: 159px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    25%,35% {
        left: 159px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    65% {
        left: -9px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    70% {
        left: -30px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    72% {
        left: -90px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        left: -90px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    85% {
        left: -57px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}

@keyframes lineFollow {
    0% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    15% {
        left: 110px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    20% {
        left: 129px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    23% {
        left: 159px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    25%,35% {
        left: 159px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    65% {
        left: -9px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    70% {
        left: -30px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    72% {
        left: -90px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    75% {
        left: -90px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    85% {
        left: -57px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        left: 27px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
}


/*#endregion */


/*#region spot animation */

.ViewHeader .navbar > .visible .navbar-brand .f-c {
    display: inline-block;
    overflow: hidden;
    position: absolute;
    left: 1px;
    top: 9px;
    width: 8px;
    height: 4px;
    background: url(/Image/default/img-arrow-light.png) no-repeat;
    background-position: -46px -70px;
    -moz-animation: line-f-c 5s linear infinite;
    -o-animation: line-f-c 5s linear infinite;
    -webkit-animation: line-f-c 5s linear infinite;
    animation: line-f-c 5s linear infinite;
}



@keyframes line-f-c {
    0% {
        left: 30px;
        width: 8px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    14% {
        left: 60px;
        width: 8px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    28% {
        left: 98px;
        top: 9px;
        width: 4px;
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    30% {
        left: 100px;
        top: 9px;
        width: 4px;
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    32% {
        left: 103px;
        top: 9px;
        width: 4px;
        -moz-transform: rotate(50deg);
        -ms-transform: rotate(50deg);
        -o-transform: rotate(50deg);
        -webkit-transform: rotate(50deg);
        transform: rotate(50deg);
    }

    39% {
        left: 103px;
        top: 20px;
        width: 8px;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    46% {
        left: 103px;
        top: 35px;
        width: 8px;
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    48% {
        left: 103px;
        top: 46px;
        width: 4px;
        -moz-transform: rotate(140deg);
        -ms-transform: rotate(140deg);
        -o-transform: rotate(140deg);
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }

    50% {
        left: 98px;
        top: 47px;
        width: 4px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    64% {
        left: 60px;
        top: 47px;
        width: 8px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    78% {
        left: 30px;
        top: 47px;
        width: 8px;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    80% {
        left: 28px;
        top: 47px;
        width: 4px;
        -moz-transform: rotate(200deg);
        -ms-transform: rotate(200deg);
        -o-transform: rotate(200deg);
        -webkit-transform: rotate(200deg);
        transform: rotate(200deg);
    }

    82% {
        left: 26px;
        top: 46px;
        width: 4px;
        -moz-transform: rotate(220deg);
        -ms-transform: rotate(220deg);
        -o-transform: rotate(220deg);
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg);
    }

    89% {
        left: 22px;
        top: 35px;
        width: 8px;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    96% {
        left: 22px;
        top: 15px;
        width: 8px;
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }

    98% {
        left: 25px;
        top: 11px;
        width: 4px;
        -moz-transform: rotate(290deg);
        -ms-transform: rotate(290deg);
        -o-transform: rotate(290deg);
        -webkit-transform: rotate(290deg);
        transform: rotate(290deg);
    }

    100% {
        left: 27px;
        top: 10px;
        width: 4px;
        -moz-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
        -o-transform: rotate(330deg);
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
    }
}


/*#endregion */
