.ViewExperience {
}

    .ViewExperience .container {
        margin: 70px auto;
    }

        /*#region .ViewExperience .container > .row */

        .ViewExperience .container > .row {
            margin-bottom: 20px;
        }

            .ViewExperience .container > .row > *:first-child {
            }

                .ViewExperience .container > .row > *:first-child > *:first-child {
                }

                .ViewExperience .container > .row > *:first-child > *:last-child {
                    margin-top: -35px;
                }

                    .ViewExperience .container > .row > *:first-child > *:last-child > *:first-child {
                        color: #333;
                        background-color: #fff;
                        padding-right: 10px;
                    }

            .ViewExperience .container > .row > *:last-child {
                padding-top: 20px;
                padding-bottom: 20px;
            }

                .ViewExperience .container > .row > *:last-child > *:first-child {
                }

                    .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) {
                    }

                        .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child {
                            border: 1px solid #ddd;
                            margin: auto auto 20px auto;
                            cursor: default;
                        }

                            .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child:hover {
                                border-color: #00a2ca;
                            }

                            .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child > *:first-child {
                                padding: 10px 25px;
                            }

                                .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child > *:first-child > *:first-child {
                                    font-size: 16px;
                                    font-weight: 500;
                                }

                                .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child > *:first-child > *:nth-child(2) {
                                    padding-top: 8px;
                                }

                                .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child > *:first-child > *:last-child {
                                }

                                    .ViewExperience .container > .row > *:last-child > *:first-child > *:nth-child(n) > *:first-child > *:first-child > *:last-child > *:first-child {
                                        cursor: pointer;
                                    }

    /*#endregion */

    /*#region name */

    .ViewExperience .container-fluid {
    }

        .ViewExperience .container-fluid > .modal {
        }

            .ViewExperience .container-fluid > .modal .row {
                line-height: 20px;
                margin: auto -10px;
            }

/*#endregion */


/*#region media */
@media (min-width: 768px) {
    .ViewExperience .container > .row > *:last-child > *:first-child > .col-sm-4 > *:first-child > *:first-child > *:nth-child(2) {
        overflow: hidden;
        height: 75px;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .ViewExperience .container > .row > *:last-child > *:first-child > .col-sm-4 > *:first-child > *:first-child > *:nth-child(2) {
        height: 60px;
    }
}

@media (min-width: 1200px) {
}


/*#endregion */
