.ViewMotto {
}


    /*#region .ViewMotto .jumbotron */

    .ViewMotto .jumbotron {
        color: #fff;
        background-color: #00a2ca;
        box-shadow: inset 0 3px 7px rgba(0,0,0,0.2),inset 0 3px 7px rgba(0,0,0,0.2);
    }

        .ViewMotto .jumbotron .center-block {
            max-width: 600px;
            padding: 15px 1px;
        }

            .ViewMotto .jumbotron .center-block .text-left {
                font-size: 24px;
                margin-bottom: 8px;
            }

            .ViewMotto .jumbotron .center-block .text-right {
                font-size: 14px;
            }

                .ViewMotto .jumbotron .center-block .text-right:before {
                    display: inline-block;
                    content: "——";
                    margin-right: 10px;
                }

    /*#endregion */

    /*#region .ViewMotto .container */

    .ViewMotto .container {
    }

        .ViewMotto .container > .row {
        }

            .ViewMotto .container > .row > .col-xs-12 {
            }

                .ViewMotto .container > .row > .col-xs-12 > .callout {
                    border: 1px solid #eee;
                    border-left: 5px solid #00a2ca;
                    border-radius: 3px;
                    padding: 20px;
                    margin: 20px auto;
                }

                    .ViewMotto .container > .row > .col-xs-12 > .callout > h3 {
                        font-size: 18px;
                    }

                    .ViewMotto .container > .row > .col-xs-12 > .callout > p {
                        font-size: 16px;
                    }

/*#endregion */

/*#region name */



/*#endregion */
